html,
body 
.background {
  min-height: 100%;
  background-image: url(/static/img/bar-fun-final.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body,
.no-background {
  background-color: whitesmoke !important;
  background-image: none !important;
  background-size: cover;
} 

/*Login Page Styling*/
.wego-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-lg {
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
::placeholder {
font-size:14px;
letter-spacing:0.5px;
}
.form-control-lg {
  font-size: 16px;
  padding: 25px 20px;
}
.font-500{
font-weight:500;
}


.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

#carouselCaptions{
  width: 50%;
  margin: auto;
}
.plans {
  display: inline-block;
  width: 50%;
}

.carousel-image{
  width:100%;
  margin: auto;
  margin-top: 20%;
}

/* User's Dashboard Page */

.wrapper {
  position:relative;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(255, 255, 255, 0.946);
  max-width: 550px;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.center-button {
  display: flex;
  justify-content: center;
}
/* 
#floatingSelectGrid {
  color: #e9ecef;
  background-color: #d63384;
} */

.line {
  height: 1px;
  background: rgb(255, 254, 254);
}

.float-container {
  padding: 20px;
}

.float-child {
  width: -moz-fit-content;
  width: fit-content;
  float: left;
  padding: 20px;
  inline-size: fit-content;
}  
.plans {
  display: inline-block;
  width: 50%;
}

.carousel-image{
  width:80%;
  margin: auto;
}

.carousel-item.active {
  margin-top: 10%;
}
.card.col-4{
  height: 30%;
  width: 30%;
}
.card-img-top{
  height: 300px;
}

.navbar-custom {
  position: absolute;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(0, 0, 0);
}
.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}
.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}


.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #d63384;
  --bs-btn-border-color: #d63384;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d63384;
  --bs-btn-hover-border-color: #d63384;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #d63384;
  --bs-btn-active-border-color: #d63384;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #d63384;
  --bs-btn-disabled-border-color: #d63384;
}

.btn-outline-primary {
  --bs-btn-color: #d63384;
  --bs-btn-border-color: #d63384;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d63384;
  --bs-btn-hover-border-color: #d63384;
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #d63384;
  --bs-btn-active-border-color: #d63384;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #d63384;
  --bs-btn-disabled-bg: transparent;
  --bs-gradient: none;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
}

#calendar {
  max-width: 1100px;
  margin: 40px auto;
  display: inline-block;
  margin-right: -20%;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}