{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block head %}{% endblock %}

{% block body %} 
<section> 
  
<h1> Wego </h1> 

 <h2> Let Us Do The Planing For You </h2>
</section>

<section>
    <h1>Log In</h1>
    <form action="/check_userinfo" method="POST">
      <p>
        Email <input type="text" name="email" required>
      </p>
  
      <p>
        Password <input type="password" name="password" required>
      </p>
  
      <p>
        <button type="Submit">Log In</button>
      </p>
    </form>   
  </section>    
{% endblock %}