{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block head %}{% endblock %}

{% block body %} 
     <!-- Nav bar with app logo and logout -->
     <nav class="navbar navbar-light" style="background-color: #cdddd6;">
      <div class="container-fluid">
          <div class="logo-section d-flex w-90">
              <div class="justify-content-start">
                  <a class="navbar-brand" href="/">
                      <img id="app-logo" alt="logo" class="logo" src="/static/img/wego-logo.png">
                  </a>
              </div>
          </div>
          <div class="logout justify-content-center d-flex w-10">
              <a class="nav-link" style="color: rgb(42, 84, 49)" href="/logout"> Logout </a>
          </div>
      </div>
    </nav>

<section> 
<center>  
  <h1> Wego </h1> 
 <h2> Let Us Do The Planing For You </h2>
</center>
</section>
<!-- Log in info -->
<div class="wrapper" style="margin-top: 10%">
  <div class="row">
    <div class="col-sm">
      <h2>Log In</h2>
      <form action="/check_userinfo" method="POST">
        <p>
          Email <input type="text" name="email" required>
        </p>
        <p>
          Password <input type="password" name="password" required>
        </p>
        <p>
          <button type="Submit">Log In</button>
        </p>
      </form> 
    </div> 
  </div>   
</div> 
  
{% endblock %}