{% extends 'base.html' %}
{% block body %}
<div class="no-background">
  <!-- Nav bar with app logo and logout -->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
          <div class="container px-5">
              <a class="navbar-brand" href="/">
                  <img id="app-logo" alt="logo" class="logo" src="/static/img/newego-logo.png" height="55">
              </a>
                  <div class="logout justify-content-center d-flex w-10">
                      <a class="nav-link" style="color: white" href="/logout"> Logout </a>
                  </div>
              
          </div>
      </nav>  
    <form action="/users/{{user.user_id}}" >
      <center>
        <div class="container">
          <div class="row" style="justify-content: center;"">
              <div class="card" style="width: 40%; justify-content: center;margin-top: 10%;">
                <img src="{{ plan.image_url }}" class="card-img-top"/>
                  <div class="card-body">
                    <h5 class="card-title">{{user.fname}}, here's your itinerary:</h5>
                    <p class="card-text">You're going to a {{ plan.plan_name|capitalize }} </p>
                      {% if plan.plan_type == "events" %}
                      <p> Time: {{ plan.start_time }} to {{plan.end_time}} </p>
                      {% endif %}
                      <p> Address: {{ plan.location }} </p>
                      <br>
                    <a href="/users/{{user.user_id}}" class="btn btn-primary">View All Plans</a>
                  </div>
              </div>
          </div> 
        </div>
      </center>              
    </form>
</div>       
{% endblock %}
 