{% extends 'base.html' %}
{% block body %}
<h1> Hello, User </h1>
<h2> Your Itinerary is: </h2>
  
        <form action="/users/{{user_id}}" > 
          <!-- Event Date Result  -->
          {% if event_plan %}
            <center>    
            <div > You're going to a {{ event_plan.plan_name|capitalize }} </div>
            <div > Time: {{ event_plan.start_time }} to {{event_plan.end_time}} </div>
            <div> Address: {{ event_plan.location }} </div>
            <br>
            <img src="{{ event_plan.image_url }}" />
            <br>
            <a href="url"> Link: {{ event_plan.url}} </a>
            <br>
            </center>     
            <center>
              <button id="confirmation_event" type="submit" value="yes">Save Plan <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
              </svg></button>
            </center>
          {% endif %}    
          <!-- Bar Date Result  -->  
          {% if bar_plan %}  
            <center>    
              <div > You're going to a {{ bar_plan.plan_name|capitalize }} </div>
              <div> Address: {{ bar_plan.location }} </div>
              <br>
              <img src="{{ bar_plan.image_url }}" />
              <br>
              <a href="url"> Link: {{ bar_plan.url}} </a>
              <br>
              </center>     
              <center>
                <button id="confirmation_bar" type="submit" value="yes">Save Plan <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                </svg></button>
              </center>
          {% endif %}      
          <!-- Activity Date Result  -->      
          {% if activity_plan %}  
              <center>    
                <div > You're going to a {{ activity_plan.plan_name|capitalize }} </div>
                <div> Address: {{ activity_plan.location }} </div>
                <br>
                <img src="{{ activity_plan.image_url }}" />
                <br>
                <a href="url"> Link: {{ activity_plan.url}} </a>
                <br>
                </center>     
                <center>
                <button id="confirmation_activity" type="submit" value="yes">Save Plan <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                </svg></button>
                </center>
          {% endif %}          
    </form>
{% endblock %}