{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block head %}{% endblock %}

{% block body %}
<div class="background"> 

        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container px-5">
                <a class="navbar-brand" href="/">
                    <img id="app-logo" alt="logo" class="logo" src="/static/img/newego-logo.png" height="55">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            </div>
        </nav>
  
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="wego-container">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">

            <div class="card-body p-4 p-sm-5">
            <h2 class="text-center">Create Account</h2>
            <br></br>

            <form action="/create_user" method="POST">
  
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="fname" required>
                  <label for="floatingInputUsername">First Name</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="lname" required>
                    <label for="floatingInputUsername">Last Name</label>
                  </div>
  
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="email" required>
                  <label for="floatingInputEmail">Email Address</label>
                </div>        
  
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" name="password" required>
                  <label for="floatingPassword">Password</label>
                </div>
  
                <div class="form-floating mb-3">
                  <input type="password" class="form-control"  name="confirm_password" required>
                  <label for="floatingPasswordConfirm">Confirm Password</label>
                </div>
                <br></br>
                <div class="d-grid mb-2">
                  <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Signup</button>
                </div>
                <br>    
              </form>
            
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

        <!-- Footer-->
        <footer class="py-5 bg-black">
            <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy; Carole Mendes Lago 2022</p></div>
        </footer>
  
 
{% endblock %}
</div>