{% extends 'base.html' %}
{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
{% endblock %}

{% block title %} User's Dashboard{% endblock %}




    
{% block body %}
    
     <!-- Nav bar with app logo and logout -->
        <nav class="navbar navbar-light" style="background-color: #cdddd6;">
            <div class="container">
                <div class="justify-content-between d-flex w-100">
                        <a class="navbar-brand" href="/">
                            <img id="app-logo" src="/static/img/wego-logo.png" width=80px>
                            <span id="app-title" style="color: rgb(42, 84, 49)">Wego</span>
                          </a>
                        <a class="nav-link" style="color: rgb(42, 84, 49)" href="/logout"> Logout </a>
                </div>
            </div>
        </nav>
        <center>
            <h1> Hello, {{ user.email }}</h1>
    
                <h2> What Will Be Your Next Date Plan?</h2>
        </center>
    <center>
        <!-- Google Map div -->
        <div id="map" class="map" style="width:1000px; height:500px; margin-left:60px;"></div>
    </center>
    <center>
        <!-- User's search filters -->
        <form action="/user/search" >

        <!-- Category Type -->
        <div>
            <input type="checkbox" id="category-event" name="type" value="event"> 
            <label for="event"> Event </label> <br>
            <input type="checkbox" id="category-bar" name="type" value="bar"> 
            <label for="bar"> Bar </label> <br>
            <input type="checkbox" id="category-activity" name="type" value="activity"> 
            <label for="activity"> Activity </label> <br>
         </div>
         <br>    

           <!-- How many people  -->
        <div class="dropdown">
            <label id="num_people"> How Many People</label> 
            <select name="num_people" required> 
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <br>
        <!-- Location -->
        <div class="dropdown">
            <label id="location"> Location</label> 
            <select name="location" required> 
                <option value="San Diego, CA">San Diego, CA</option>
                <option value="Los Angeles, CA">Los Angeles, CA"</option>
                <option value="San Francisco, CA">San Francisco, CA</option>
                <option value="New York, NY">New York, NY</option>
                <option value="Portland, OR">Portland, OR</option>
                <option value="Denver, CO">Denver, CO</option>
                <option value="Miami, FL">Miami, FL</option>
            </select>
        </div>
        <br>
        <!-- Date -->
        <div>
            <label>Date
            <input type="date" id="date" name="date" required pattern="\d{4}-\d{2}-\d{2}">
            <span class="validity"></span>
            </label>
        </div> 
        <br>
        <!-- Budget -->
        <div class="dropdown">
            <label id="budget"> Budget</label> 
            <select name="budget" required> 
                <option value="50">$</option>
                <option value="100">$$</option>
                <option value="500">$$$</option>
                <option value="1000">$$$$</option>
            </select>
        </div> 
        <br>
        <div>
            <button type="submit">Plan My Date</button>
        </div>
    </form>
    <br>
</center> 

    <!-- User's events -->
    <div class="container">
        <h2>Your Dates</h2>
        {% if user.plans %}
        <div>
            {% for plan in user.plans %}

                <!-- Display Event Type Dates -->
                {% if plan.plan_type == "events" %}
                <div class="plans" id="plan-div{{loop.index0}}"> {{ plan.plan_name}} </div>
                    <div>
                        <img src="{{ plan.image_url }}">
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                        <h3>{{ plan.plan_name}}</h3>
                        <input id="plan-id{{loop.index0}}" value="{{plan.plan_id}}" hidden> {{plan.plan_id}} </input>
                        {{ plan.location }}<br>
                        {{ plan.start_time.strftime("%m-%d-%Y") }} to {{ plan.end_time.strftime("%m-%d-%Y") }}
                        <br>
                        <a href="{{ plan.url }}">{{ plan.url }}</a>
                        </div>
                    </div>   
                <div>

                    <!-- Delete Event -->
                    <button class="delete" type="click" id="{{plan.plan_id}}" name="delete-plan">Delete Event <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg></button>
                     <!-- Send Email Button Modal Trigger -->
                     <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="share{{loop.index0}}" name="send-email">Share Event <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-check" viewBox="0 0 16 16">
                        <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
                        <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"/>
                      </svg></button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Share Event via Email</h5>
                                </div>
                                <div class="modal-body">Email:
                                <input type="text" id="to-email{{plan.plan_id}}" name="to_email"> </input>
                                </div>
                                <div class="modal-footer">
                                <button  class="share" id="send-email{{plan.plan_id}}" name="send-email">Share Event</button>
                                </div>
                            </div>
                            </div>
                        </div>
                     </div>
                <br>
                {% endif %}
                
                 <!-- Display Bar Type Dates -->
                {% if plan.plan_type == "bars" %}
                 <div class="plans" id="plan-div{{loop.index0}}"> {{ plan.plan_name}} </div>
                     <div>
                         <img src="{{ plan.image_url }}">
                     </div>
                     <div class="card-body">
                         <div class="card-text">
                         <h3>{{ plan.plan_name}}</h3>
                         <input id="plan-id{{loop.index0}}" value="{{plan.plan_id}}" hidden> {{plan.plan_id}} </input>
                         {{ plan.location }}<br>
                         <br>
                         <a href="{{ plan.url }}">{{ plan.url }}</a>
                         </div>
                     </div>   
                 <div>
                        <!-- Delete Event -->
                     <button class="delete" type="click" id="{{plan.plan_id}}" name="delete-plan">Delete Event <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                         <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                         <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                     </svg></button>
                     <!-- Send Email Button Modal Trigger -->
                     <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="share{{loop.index0}}" name="send-email">Share Event <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-check" viewBox="0 0 16 16">
                        <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
                        <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"/>
                      </svg></button>

                    <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Share Event via Email</h5>
                                </div>
                                <div class="modal-body">Email:
                                <input type="text" id="to-email{{plan.plan_id}}" name="to_email"> </input>
                                </div>
                                <div class="modal-footer">
                                <button  class="share" id="send-email{{plan.plan_id}}" name="send-email">Share Event</button>
                                </div>
                            </div>
                            </div>
                        </div>
                     </div>
                 <br>
                {% endif %}
                 
                  
                 <!-- Display Active Type Dates -->
                {% if plan.plan_type == "activities" %}
                    <div class="plans" id="plan-div{{loop.index0}}"> {{ plan.plan_name}} </div>
                     <div>
                         <img src="{{ plan.image_url }}">
                     </div>
                     <div class="card-body">
                         <div class="card-text">
                         <h3>{{ plan.plan_name}}</h3>
                         <input id="plan-id{{loop.index0}}" value="{{plan.plan_id}}" hidden> {{plan.plan_id}} </input>
                         {{ plan.location }}<br>
                         <br>
                         <a href="{{ plan.url }}">{{ plan.url }}</a>
                         </div>
                     </div>
                
                    <!-- Delete Button  -->
                     <button class="delete" type="click" id="{{plan.plan_id}}" name="delete-plan">Delete Event <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                         <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                         <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                     </svg></button>

                     <!-- Send Email Button Modal Trigger -->
                     <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="share{{loop.index0}}" name="send-email">Share Event <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-check" viewBox="0 0 16 16">
                        <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
                        <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"/>
                      </svg></button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Share Event via Email</h5>
                                </div>
                                <div class="modal-body">Email:
                                <input type="text" id="to-email{{plan.plan_id}}" name="to_email"> </input>
                                </div>
                                <div class="modal-footer">
                                <button  class="share" id="send-email{{plan.plan_id}}" name="send-email" >Share Event</button>
                                </div>
                            </div>
                            </div>
                        </div>
                     </div>
                     <br>
                {% endif %}         
            {% endfor %}
        </div>      
        {% endif %}

    <!-- Calendar Div -->
    <div id='calendar'></div>


    <!-- Google Maps JS  -->

    <script src="/static/js/wegoapp.js"></script>
    <script 
        async    
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL5wGUSTxfoQOh7lLz9d-Ys58N81IpDoE&callback=initMap">
    </script>  
     
</body>

{% endblock %}

