
{% extends 'base.html' %}

{% block title %} User's Dashboard{% endblock %}

{% block body %}
<div id="carouselCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
        
    <div class="carousel-inner">
            {% for result in results%}
                
                {% if result == results[0] %} 
                <div class="carousel-item active"> 
                {% else %}
                <div class="carousel-item"> 
                {% endif%}    
                    <img src="{{ result['image_url'] }}" name="event_photo" class="d-block w-100" >
                    <div class="carousel-caption d-none d-md-block">
                    
                        
                    </div>
                    <div>
                        <form action="/save_plan" method='POST'>
                            <h5 name="plan_name">{{ result['name'] }}</h5>
                            <p name="event_description">{{ result['description']}}</p>
                            <input name="event_photo" type="hidden" value="{{result['image_url']}}"> 
                            <input name="plan_name" type="hidden" value="{{ result['name'] }}"> 
                            <input name="start_time" type="hidden" value="{{ result['time_start'] }}">
                            <input name="end_time" type="hidden" value="{{ result['time_end'] }}"> 
                            <input name="location" type="hidden" value="{{ result['location']['display_address'] }}">
                            <input name="event_link" type="hidden" value="{{ result['event_site_url'] }}">
                            <center>
                                <button class="like" type="click" name="yes" value="add"> Yeah </button>   
                                <button class="nope" type="click" name="no" value="delete"> Nope </button>
                            </center>
                        </form>    
                    </div>
                </div>

                {% endfor %} 
    </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>

      
        
</div>
{% endblock %}        

